<div class="wishlist-inspire__icon" x-data="wishlist">

  <button type="button" @click.debounce="addToWishlist()">
    <svg class="wishlist-inspire__icon--svg" viewBox="0 0 24 24" stroke-width="2" stroke="#000" :fill="wishlisted ? '#000': '#fff' ">
      <path d="M12 21.35l-1.45-1.32C5.4 15.73 2 12.27 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.77-3.4 7.23-8.55 11.53L12 21.35z"/>
    </svg>
    {% if block.settings.text != blank %}
      <span class="wishlist-inspire__icon--text">{{ block.settings.text }}</span>
    {% endif %}
  </button>

</div>


{% schema %}
  {
    "name": "Wishlist",
    "target": "section",
    "settings": [
      {
      "type": "product",
      "id": "product",
      "label": "product",
      "autofill": true
    },
    {
      "type": "text",
      "id":"text",
      "label": "Text",
      "default": "Add to Wishlist"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Add Color",
      "default": "#000000"
    }
  ]
  }
{% endschema %}